@{
    ViewBag.Title = "Upload";
}


<div class="container d-flex flex-column justify-content-center align-items-center">
    <div class="card shadow" style="width: 500px; margin-top: 50px">
        <div class="card-header bg-success">
            <h3 class="text-center mt-1" style="color: azure;">
                <i class="fa fa-upload" aria-hidden="true"></i>
                <strong>อัปโหลด Competency</strong>
            </h3>
        </div>
        <div class="card-body text-center justify-content-center">
            @if (TempData["UploadError"] != null)
            {
                <div class="alert alert-danger mt-3">
                    <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
                    <strong>@TempData["UploadError"]</strong>
                </div>

                <script>
                    window.setTimeout(function () {
                        $(".alert-danger").fadeTo(500, 0).slideUp(500, function () {
                            $(this).remove();

                        });
                    }, 5000);
                </script>
            }
            else if (TempData["UploadSuccess"] != null && (bool)TempData["UploadSuccess"])
            {
                <div class="alert alert-success mt-3">
                    <i class="fa fa-check" aria-hidden="true"></i>
                    <strong>อัปโหลดเสร็จสมบูรณ์</strong>
                </div>

                <script>
                    window.setTimeout(function () {
                        $(".alert-success").fadeTo(500, 0).slideUp(500, function () {
                            $(this).remove();

                        });
                    }, 5000);
                </script>
            }

            <div id="loadingSpinner" class="d-none">
                <div class="d-flex justify-content-center">
                    <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                </div>
            </div>

            <form method="post" enctype="multipart/form-data">
                <div>
                    <input name="file" type="file" class="form-control form-control-lg mt-2" style="width: 350px; margin-left: 6.5rem" required />
                    <p class="text-muted mt-2">จำนวนแถวที่ของข้อมูล: @TempData["RowCount"]</p>
                    <button type="submit" onclick="startSendingEmail()" class="btn btn-primary ms-3 mt-3">
                        <i class="fa fa-database" aria-hidden="true"></i>
                        <strong>อัปโหลด</strong>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    function startSendingEmail() {
        // Show the loading spinner
        $('#loadingSpinner').removeClass('d-none');

        // Disable the submit button to prevent multiple submissions
        $('#emailForm button[type="submit"]').prop('disabled', true);

        // Submit the form
        $('#emailForm').submit();
    }
</script>