@{
    ViewBag.Title = "Upload";
}


<link rel="stylesheet" href="/CSS/Style.css">
<div class="sticky-header-breadcrumb">
    <div class="header-breadcrumb" style="background-color: #2D4686;">
        <nav aria-label="breadcrumb" style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);">
            <ol class="breadcrumb breadcrumb-chevron p-3 bg-body-tertiary">
                <li class="breadcrumb-item">
                    <a class="link-body-emphasis text-decoration-none" style="color: #C8E8FF" href="@Url.Action("UploadCompetency", "Home")">
                        <i class="fa-solid fa-upload" style="color: #C8E8FF"></i> <strong style="color: #C8E8FF"> อัปโหลด IDP Group</strong>
                        <span class="visually-hidden">Home</span>
                    </a>
                </li>
            </ol>
        </nav>
    </div>

    <div class="text-center sticky-header">
        <div class="background-container">
            <i class="fa-solid fa-upload topic-icon"></i>
        </div>
    </div>
</div>
<main class="container mt-3">
    <div class="card border-0">
        <div class="card-body text-center justify-content-center">
            <h1 class="mb-3 topic-title">อัปโหลด IDP Group</h1>
            @if (TempData["UploadError"] != null)
            {
                <div class="alert alert-danger mt-3">
                    <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
                    <strong>@TempData["UploadError"]</strong>
                </div>

                <script>
                    window.setTimeout(function () {
                        $(".alert-danger").fadeTo(500, 0).slideUp(500, function () {
                            $(this).remove();

                        });
                    }, 5000);
                </script>
            }
            else if (TempData["UploadSuccess"] != null && (bool)TempData["UploadSuccess"])
            {
                <div class="alert alert-success mt-3">
                    <i class="fa fa-check" aria-hidden="true"></i>
                    <strong>อัปโหลดเสร็จสมบูรณ์</strong>
                </div>

                <script>
                    window.setTimeout(function () {
                        $(".alert-success").fadeTo(500, 0).slideUp(500, function () {
                            $(this).remove();

                        });
                    }, 5000);
                </script>
            }

            <div id="loadingSpinner" class="d-none mb-4">
                <div class="d-flex justify-content-center">
                    <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                </div>
            </div>
            <form method="post" enctype="multipart/form-data">
                <div>
                    <label for="file" class="drop-container" id="dropContainer">
                        <input name="file" id="file" type="file" class="form-control form-control-lg mt-2" style="width: 350px; margin-left: 1rem" required />
                        <div id="drag-text">
                            ลากไฟล์ของคุณมาวางไว้ในนี้
                        </div>
                    </label>
                    <p id="rowCountText" class="text-muted mt-2">จำนวนแถวของข้อมูล: 0</p>
                    <button type="submit" onclick="startSendingEmail()" class="btn btn-primary mt-3 btn-lg">
                        <i class="fa fa-database" aria-hidden="true"></i>
                        <strong>อัปโหลด</strong>
                    </button>
                    <button type="button" onclick="downloadExcel()" class="btn btn-success mt-3 btn-lg">
                        <i class="fa fa-download" aria-hidden="true"></i>
                        <strong>ตัวอย่าง</strong>
                    </button>
                </div>
            </form>

        </div>
    </div>
</main>
<script>
    function startSendingEmail() {
        $('#loadingSpinner').removeClass('d-none');

        $('#emailForm button[type="submit"]').prop('disabled', true);

        $('#emailForm').submit();
    }
</script>
<script src="~/JS/unpkg.com_xlsx@0.18.5_dist_xlsx.full.min.js"></script>
<script>
    document.getElementById("file").addEventListener("change", function () {
        var file = this.files[0];
        if (file) {
            var reader = new FileReader();
            reader.onload = function (e) {
                var data = new Uint8Array(e.target.result);
                var workbook = XLSX.read(data, { type: 'array' });
                var worksheet = workbook.Sheets[workbook.SheetNames[0]];
                var rowCount = XLSX.utils.sheet_to_json(worksheet).length;
                document.getElementById("rowCountText").innerText = "จำนวนแถวที่ของข้อมูล: " + rowCount;
            };
            reader.readAsArrayBuffer(file);
        }
    });

    const dropContainer = document.getElementById('dropContainer');

    dropContainer.addEventListener('dragover', (e) => {
        e.preventDefault();
        dropContainer.classList.add('dragover');
        document.getElementById('drag-text').textContent = 'ปล่อยเลย!';
    });

    dropContainer.addEventListener('dragleave', () => {
        dropContainer.classList.remove('dragover');
        document.getElementById('drag-text').textContent = 'ลากไฟล์ของคุณมาวางไว้ในนี้';
    });

    dropContainer.addEventListener('drop', (e) => {
        e.preventDefault();
        dropContainer.classList.remove('dragover');
        const files = e.dataTransfer.files;
        document.getElementById('file').files = files;
        document.getElementById('drag-text').textContent = `มี ${files.length} ไฟล์ที่เลือกไว้แล้ว`;

        var file = files[0];
        if (file) {
            var reader = new FileReader();
            reader.onload = function (e) {
                var data = new Uint8Array(e.target.result);
                var workbook = XLSX.read(data, { type: 'array' });
                var worksheet = workbook.Sheets[workbook.SheetNames[0]];
                var rowCount = XLSX.utils.sheet_to_json(worksheet).length;
                document.getElementById("rowCountText").innerText = "จำนวนแถวของข้อมูล: " + rowCount;
            };
            reader.readAsArrayBuffer(file);
        }
    });

    var header = ["IDP_GROUP_ID", "IDP_GROUP_NAME", "YEAR", ""];

    var dataRow = ["MC-G1", "Operation", "2566", "****Example****"];

    function downloadExcel() {
        var csvContent = "data:text/csv;charset=utf-8," + header.join(",") + "\n" + dataRow.join(",") + "\n";
        var encodedUri = encodeURI(csvContent);
        var link = document.createElement("a");
        link.setAttribute("href", encodedUri);
        link.setAttribute("download", "idp groups.csv");
        document.body.appendChild(link);
        link.click();
    }
</script>
<style>
    .card {
        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    }

    .background-container {
        background-color: white; /* Set the white background */
        display: inline-block; /* Display the container as an inline block to wrap the icon */
        border-radius: 50%; /* Apply a circular shape to the container */
        padding: 1rem; /* Add padding around the icon */
        overflow: hidden; /* Hide any overflow from the circular container */
        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px; /* Add a box shadow */
        margin-top: -50px;
    }

    .topic-icon {
        background: linear-gradient( 0deg, hsl(168deg 84% 12%) 0%, hsl(168deg 86% 13%) 11%, hsl(168deg 89% 14%) 22%, hsl(168deg 91% 15%) 33%, hsl(167deg 93% 16%) 44%, hsl(167deg 94% 18%) 56%, hsl(167deg 96% 19%) 67%, hsl(167deg 98% 20%) 78%, hsl(167deg 99% 21%) 89%, hsl(167deg 100% 22%) 100% );
        -webkit-background-clip: text; /* Clip the background to the text */
        -webkit-text-fill-color: transparent; /* Make the text transparent to show the background gradient */
        font-size: 45px;
        /* Any other styles for the icon, if needed */
    }

    .sticky-header-breadcrumb {
        position: sticky;
        border-radius: 0px;
        z-index: 10;
        top: 85px;
    }

    .sticky-header {
        position: sticky;
        z-index: 20;
    }

    .drop-container {
        position: relative;
        display: flex;
        gap: 10px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 200px;
        padding: 20px;
        border-radius: 10px;
        border: 2px dashed #555;
        color: #444;
        cursor: pointer;
        transition: background .2s ease-in-out, border .2s ease-in-out;
    }

        .drop-container:hover {
            background: #eee;
            border-color: #111;
        }

            .drop-container:hover .drop-title {
                color: #222;
            }

    .drop-title {
        color: #444;
        font-size: 20px;
        font-weight: bold;
        text-align: center;
        transition: color .2s ease-in-out;
    }

    .topic-title {
        background-image: linear-gradient( 0deg, hsl(168deg 84% 12%) 0%, hsl(168deg 86% 13%) 11%, hsl(168deg 89% 14%) 22%, hsl(168deg 91% 15%) 33%, hsl(167deg 93% 16%) 44%, hsl(167deg 94% 18%) 56%, hsl(167deg 96% 19%) 67%, hsl(167deg 98% 20%) 78%, hsl(167deg 99% 21%) 89%, hsl(167deg 100% 22%) 100% );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-weight: bold;
    }
</style>